@import "bourbon/bourbon";

// MY CUSTOM CSS
body {
	// color: white;
	// background-color: lighten( grey, 30% );
  background: url(images/bg-14.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.site-title {
	font-size: 500%;
	font-weight: 900;
} 
img {

	border: 1px solid red;

	// display: block;
	// width: 100%;
	// max-width: 100%;
	// height: auto;

	// @media (min-width:480px) and (max-width: 640px) {

	// 	width: 60%;
	// 	margin: 0 auto;
	  
	// }

	@include transition(all 2.0s ease-in-out);
	
	&:hover {
		// opacity: .7;
		// width: 50%; 
		height: 120%;
		border-radius: 50%;

			@include transform(translateY(50px));
			@include transform(scale(0.9) rotate(-3deg));
			@include transform-origin(center top);
			@include transform-style(preserve-3d);
	}
}

a {
	img {
		// @include transition(all 2.0s ease-in-out);
		

	
  }
}

header {
	padding-top: 2em;
	padding-bottom: 2em;
	color: lighten( grey, 30% );

	h1 {
		color: lighten( orange, 10% );
		// color: lighten( blue, 30% );
		text-shadow: 4px 4px 6px black;
	}

	.header-content {
		background-color:rgba(0, 0, 0, 0.5);
		padding: 1em;
	}
}

// @media (min-width:768px) {
//   .front-widget {
// 		background-color: lighten( grey, 30% );
// 		width: 30%;
// 		margin-left: 2em;
// 	}
// }

/**
*
* Frontpage Styles
*
**/

.frontpage-index-block {
	margin-top: 2em;
	// padding-top: 1em;
	// background: transparent;
	background-color: rgba(0, 0, 0, 0.7);
	margin-bottom: 1em;
	padding-top: 1.5em;

	.slick-slider {
		// border: 1px solid red;
		

	}


	h3 {
		color: lighten( orange, 20% );
		// color: lighten( blue, 30% );

	}

	h4 {
		color: lighten( orange, 20% );
		// color: lighten( blue, 30% );

	}

	.frontpage-entry-footer {

		padding-left: 1em;
		padding-right: 1em;

		a {
			&:hover {
				color: red;
			}
		}

		small {
			font-size: 80%;
			padding-left: 1em;
		}

		// border: 1px solid blue;
		background: black;
		padding-top: 1em;
		padding-bottom: 1em;
		color: lighten( grey, 30% );


	}

	.frontpage-index-block-content {

			// border: 1px solid red;

		color: lighten( grey, 30% );

		.text-only-content {
			padding-left: 1.5em;			
			padding-right: 1em;	
			padding-top: 1.5em;		
		}

		.frontpage-index-item {
			margin-bottom: 1em;
			padding-top: 1.5em;
			// padding-left: .5em;
			// border: 1px solid blue;
		}


	}

}

#blog-nav-bar {
	// border: 1px solid red;
	// padding: 0;
	padding-bottom: 0em;
	padding-top: 1em;

	a {
		margin-top: -2.4em;
	}
}

.front-widget {
	background: transparent;
	// background-color: lighten( grey, 30% );
	// width: 30%;
	// margin-left: 2em;
	.front-widget-content {
		// background-color: lighten( grey, 30% );
		background-color:rgba(0, 0, 0, 0.5);
		padding: 1em;
		padding-bottom: .1em;
		margin-bottom: 1em;
		// opacity: .8em;
		color: lighten( grey, 30% );

		h3 {
			// color: lighten( blue, 30% );
			color: lighten( orange, 20% );

		}
	}
}

.fronpage-testimonial-item {
	
	h3 {
		color: lighten( orange, 20% );
		// border: 1px solid blue;
	}

	.frontpage-testimonial-content {
		background-color: transparent;
			border: 1px solid orange;
			border-radius: 10%;


		blockquote {
			background-color: black;
			padding: 2em;
			color: lighten( $secondary-color, 20% );
			padding-top: 2em;

			img {
				padding-right: 1em;
			}
			cite {
				color: lighten( $secondary-color, 10% );

			}
		}
	}
}
.img-testimonial {
	width: 40%;
	border-radius: 50%;
}

/**
*
* Blog Styles
*
**/

.blog-index-block {
	margin-top: 2em;
	// padding-top: 1em;
	// background: transparent;
	background-color: rgba(0, 0, 0, 0.7);

	.blog-entry-footer {

		padding-left: 1em;
		padding-right: 1em;

		a {
			&:hover {
				color: red;
			}
		}

		small {
			font-size: 80%;
			padding-left: 1em;
		}

		// border: 1px solid blue;
		background: black;
		padding-top: 1em;
		padding-bottom: 1em;
		color: lighten( grey, 30% );


	}

	.blog-index-block-content {

			// border: 1px solid red;

		color: lighten( grey, 30% );

		.text-only-content {
			padding-left: 1.5em;			
			padding-right: 1em;	
			padding-top: 1.5em;		
		}

		.blog-index-item {
			margin-bottom: 1em;
			padding-top: 1.5em;
			// padding-left: .5em;

			h3 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			h4 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			
		}


	}

}

#blog-nav-bar {
	// border: 1px solid red;
	// padding: 0;
	padding-bottom: 0em;
	padding-top: 1em;

	a {
		margin-top: -2.4em;
	}
}

/**
*
* Single Post Page Styles
*
**/

.single-index-block {
	margin-top: 2em;
	// padding-top: 1em;
	// background: transparent;
	background-color: rgba(0, 0, 0, 0.7);

	.single-entry-footer {

		padding-left: 1em;
		padding-right: 1em;

		a {
			&:hover {
				color: red;
			}
		}

		small {
			font-size: 80%;
			padding-left: 1em;
		}

		// border: 1px solid blue;
		background: black;
		padding-top: 1em;
		padding-bottom: 1em;
		color: lighten( grey, 30% );


	}

	.single-index-block-content {

			// border: 1px solid red;

		color: lighten( grey, 30% );

		.single-index-item {
			margin-bottom: 1em;
			// padding-top: 1.5em;
			// padding-left: .5em;

			h3 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			h4 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			.single-content {
				padding-left: 2em;
				padding-right: 1.5em;
				padding-top: 1.5em;
				padding-bottom: 2em;
			}

			
		}


	}

}

/**
*
* /Fullwidht Page Styles
*
**/

.fullpage-index-block {
	margin-top: 2em;
	// padding-top: 1em;
	// background: transparent;
	background-color: rgba(0, 0, 0, 0.7);

	.fullpage-entry-footer {

		padding-left: 1em;
		padding-right: 1em;

		a {
			&:hover {
				color: red;
			}
		}

		small {
			font-size: 80%;
			padding-left: 1em;
		}

		// border: 1px solid blue;
		background: black;
		padding-top: 1em;
		padding-bottom: 1em;
		color: lighten( grey, 30% );


	}

	.fullpage-index-block-content {

			// border: 1px solid red;

		color: lighten( grey, 30% );

		.fullpage-index-item {
			margin-bottom: 1em;
			// padding-top: 1.5em;
			// padding-left: 1em;

			h3 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			h4 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			.fullpage-content {
				padding-left: 2em;
				padding-right: 2em;
				padding-top: 1.5em;
				padding-bottom: 2em;
			}

			
		}


	}

}
/**
*
* About Styles
*
**/

.about-index-block {
	margin-top: 2em;
	// padding-top: 1em;
	// background: transparent;
	background-color: rgba(0, 0, 0, 0.7);
			// border: 1px solid red;
			h3 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			h4 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			margin-bottom: 1em;
			padding-top: 1.5em;


	.about-index-block-content {


		color: lighten( grey, 30% );

		.text-only-content {
			padding-left: 1.5em;			
			padding-right: 1em;	
			padding-top: 1.5em;		
		}

		.about-index-item {
			
			// padding-left: .5em;

			h3 {
				// color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			h4 {
				// color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			
		}


	}

}


/**
*
* Portfolio Styles
*
**/

.portfolio-widget {
	background: transparent;
	// background-color: lighten( grey, 30% );
	// width: 30%;
	// margin-left: 2em;
	.portfolio-widget-content {
		// background-color: lighten( grey, 30% );
		background-color:rgba(0, 0, 0, 0.5);
		padding: 1em;
		padding-bottom: .1em;
		margin-bottom: 1em;
		// opacity: .8em;
		color: lighten( grey, 30% );

		h4 {
			// color: lighten( blue, 30% );
			color: lighten( orange, 20% );

		}

		img {
			padding-bottom: 1.5em;
			padding-top: 1em;
		}
	}
}

.portfolio-index-block {
	margin-top: 2em;
	padding-top: 1em;
	padding-bottom: 2em;
	// padding-top: 1em;
	// background: transparent;
		background-color: rgba(0, 0, 0, 0.7);

	.portfolio-index-item {
		margin-bottom: 1em;
		padding-top: 1.5em;
		// padding-left: .5em;
		color: lighten( grey, 30% );


		h5 {
			color: lighten( orange, 20% );
			// color: lighten( blue, 30% );
			padding-top: 1em;

		}

		img {
			// padding-bottom: 1.5em;
			padding-top: 1em;
			// transition: 1s all ease-in-out;

			&:hover {
				// width: 50%;
			}
		}

	}

}

#portfolio-nav-bar {
	// border: 1px solid red;
	padding: 0;
	padding-bottom: -1em;
	background-color:rgba(0, 0, 0, 0.3);
}

/**
*
* Contact Page Styles
*
**/

.contact-index-block {
	margin-top: 2em;
	// padding-top: 1em;
	// background: transparent;
	background-color: rgba(0, 0, 0, 0.7);

	.contact-entry-footer {

		padding-left: 1em;
		padding-right: 1em;

		a {
			&:hover {
				color: red;
			}
		}

		small {
			font-size: 80%;
			padding-left: 1em;
		}

		// border: 1px solid blue;
		background: black;
		padding-top: 1em;
		padding-bottom: 1em;
		color: lighten( grey, 30% );


	}
	.contact-index-item {
		margin-bottom: 1em;
		padding-bottom: 2em;
		// border: 1px solid red;

		.contact-index-block-content {

			padding-top: 1.5em;
			padding-left: 1em;

			.social-box {
				i.fa {

					&:hover {
						color: white;
					}

				}
			}

			.tab-title {
				// border-bottom: 1px solid darken( $primary-color, 10% );
				border-bottom: 1px solid darken( $secondary-color, 30% );
			}

			color: lighten( grey, 30% );

			h3 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

			h4 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}

		}
		
	}

}

.contact-widget {
	background: transparent;
	// background-color: lighten( grey, 30% );
	// width: 30%;
	// margin-left: 2em;
	.contact-widget-content {
		// background-color: lighten( grey, 30% );
		background-color:rgba(0, 0, 0, 0.5);
		padding: 1em;
		padding-bottom: .1em;
		margin-bottom: 1em;
		// opacity: .8em;
		color: lighten( grey, 30% );

		h3 {
			// color: lighten( blue, 30% );
			color: lighten( orange, 20% );

		}

		form {
			label {
				color: lighten( grey, 30% );
			}
		}

		i.fa {
			font-size: 150%;
			padding-right: .3em;
		}

		.contact-phone-numbers {
			// padding-top: 1em;
			// padding-bottom: .5em;
			// margin-bottom: .5em;
			// border: 1px solid red;
		}
	}
}

/**
*
* Footer Style
*
**/

footer {

	.footer-block {
		margin-top: 2em;
		margin-bottom: .5em;
		// padding-top: 1em;
		// background: transparent;
		background-color: rgba(0, 0, 0, 1);

		.footer-widget-item {
			// margin-bottom: 1em;
			padding-top: 1.5em;
			padding-left: .5em;
			color: lighten( grey, 25% );


			h4 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}
		}
	}
	.copyright {

		background-color: rgba(0, 0, 0, .5);

		h6 {
			color: darken( orange, 0%);
			font-weight: 900;
			padding-bottom: 1em;
			padding-top: 1em;

		}
	}
}

/**
*
* Sidebar Styles
*
**/

.sidebar-index-block {
	margin-top: 2em;
	// padding-top: 1em;
	// background: transparent;
		background-color: rgba(0, 0, 0, 0.7);

	.sidebar-index-item {
		margin-bottom: 1em;
		padding-top: 1.5em;
		// padding-left: .5em;
		color: lighten( grey, 30% );


		h3 {
			color: lighten( orange, 20% );
			// color: lighten( blue, 30% );

		}
		
		h4 {
			color: lighten( orange, 20% );
			// color: lighten( blue, 30% );

		}
		.sidebar-index-block-content {
			padding-left: 1.5em;
			img {
				padding-right: 1.5em;
				padding-bottom: 1em;
			}
		}

	}

}


/**
*
* Widget Style
*
**/
.widget {
	// border: 1px solid red;

	ul {
		padding-bottom: 2em;
		padding-right: 1.5em;

		li {
			border-bottom: 1px solid orange;

			a:hover {
				color: white;
			}
		}
	}
}

/**
*
* The Accordion Styles
*
**/
.accordion {

		// border: 1px solid red;

	a {
		// margin: 0 auto;
		// border: 1px solid red;
	}
}




































