// MY CUSTOM CSS
html { 
 
}

body {
	// color: white;
	// background-color: lighten( grey, 30% );
  background: url(images/bg-blue-blurry-street.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
img {
	display: block;
	width: 100%;
	height: auto;
}

header {
	padding-top: 2em;
	padding-bottom: 2em;
	color: lighten( grey, 25% );

	h1 {
		color: lighten( blue, 30% );
		text-shadow: 4px 4px 6px black;
	}

	.header-content {
		background-color:rgba(0, 0, 0, 0.5);
		padding: 1em;
	}
}

// @media (min-width:768px) {
//   .front-widget {
// 		background-color: lighten( grey, 30% );
// 		width: 30%;
// 		margin-left: 2em;
// 	}
// }

.front-widget {
	background: transparent;
	// background-color: lighten( grey, 30% );
	// width: 30%;
	// margin-left: 2em;
	.front-widget-content {
		// background-color: lighten( grey, 30% );
		background-color:rgba(0, 0, 0, 0.5);
		padding: 1em;
		padding-bottom: .1em;
		margin-bottom: 1em;
		// opacity: .8em;
		color: lighten( grey, 25% );

		h3 {
			color: lighten( blue, 30% );

		}
	}
}

.blog-index-block {
	margin-top: 1em;
	padding-top: 2em;
	background: transparent;

	.blog-index-item {
		margin-bottom: 1em;
		padding-top: 1.5em;
		padding-left: .5em;
		color: lighten( grey, 25% );
		background-color: rgba(0, 0, 0, 0.5);


		h3 {
			color: lighten( blue, 30% );

		}

	}

}