// MY CUSTOM CSS
body {
	// color: white;
	// background-color: lighten( grey, 30% );
  background: url(images/bg-14.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
img {
	display: block;
	width: 100%;
	height: auto;
}
a {
	img {
		transition: 1s all ease-in-out;
	}
	img:hover {
		opacity: .7;
	}
}

header {
	padding-top: 2em;
	padding-bottom: 2em;
	color: lighten( grey, 30% );

	h1 {
		color: lighten( orange, 10% );
		// color: lighten( blue, 30% );
		text-shadow: 4px 4px 6px black;
	}

	.header-content {
		background-color:rgba(0, 0, 0, 0.5);
		padding: 1em;
	}
}

// @media (min-width:768px) {
//   .front-widget {
// 		background-color: lighten( grey, 30% );
// 		width: 30%;
// 		margin-left: 2em;
// 	}
// }

.front-widget {
	background: transparent;
	// background-color: lighten( grey, 30% );
	// width: 30%;
	// margin-left: 2em;
	.front-widget-content {
		// background-color: lighten( grey, 30% );
		background-color:rgba(0, 0, 0, 0.5);
		padding: 1em;
		padding-bottom: .1em;
		margin-bottom: 1em;
		// opacity: .8em;
		color: lighten( grey, 30% );

		h3 {
			// color: lighten( blue, 30% );
			color: lighten( orange, 20% );

		}
	}
}

.img-testimonial {
	width: 40%;
	border-radius: 50%;
}

.fronpage-testimonial-item {
	
	h3 {
		color: lighten( orange, 20% );
		// border: 1px solid blue;
	}

	.frontpage-testimonial-content {
		background-color: transparent;
			border: 1px solid black;
			border-radius: 10%;


		blockquote {
			background-color: black;
			padding: 2em;
			color: darken( $secondary-color, 20% );
			padding-top: 2em;

			img {
				padding-right: 1em;
			}
			cite {
				color: darken( $secondary-color, 30% );

			}
		}
	}
}





.blog-index-block {
	margin-top: 2em;
	// padding-top: 1em;
	// background: transparent;
		background-color: rgba(0, 0, 0, 0.7);

	.blog-index-item {
		margin-bottom: 1em;
		padding-top: 1.5em;
		// padding-left: .5em;
		color: lighten( grey, 30% );


		h3 {
			color: lighten( orange, 20% );
			// color: lighten( blue, 30% );

		}

	}

}

footer {

	.footer-block {
		margin-top: 2em;
		margin-bottom: .5em;
		// padding-top: 1em;
		// background: transparent;
		background-color: rgba(0, 0, 0, 1);

		.footer-widget-item {
			// margin-bottom: 1em;
			padding-top: 1.5em;
			padding-left: .5em;
			color: lighten( grey, 25% );


			h4 {
				color: lighten( orange, 20% );
				// color: lighten( blue, 30% );

			}
		}
	}
	.copyright {

		background-color: rgba(0, 0, 0, .5);

		h6 {
			color: darken( orange, 0%);
			font-weight: 900;
			padding-bottom: 1em;
			padding-top: 1em;

		}
	}
}


